# configs/config.yaml
defaults:
  - _self_
  - deepspeed/zero_0

lr: 0.001  # Example value
betas: [0.9, 0.999]
eps: 1e-8
weight_decay: 0.01

total_num_steps: 10000
warmup_min_lr: 0.0
warmup_max_lr: 0.001
warmup_num_steps: 1000

gradient_accumulation_steps: 1
gradient_clipping: 1.0
train_batch_size: 8
train_micro_batch_size_per_gpu: 8

bf16_enabled: true
reduce_bucket_size: 50000000
# Other global parameters can be added here